<html>
<title>Dashboard</title>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = device-width, initial-scale = 0, user-scalable = no, minimum-scale = 1, maximum-scale = 1">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/screen.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="mainContainer">
        <div class="iconContainer">
            <div class="iconBox">
                <img src="../images/finger.png" class="finger" />
            </div>
            <img src="../images/user.png" class="user" />
            <img src="../images/pencil.png" class="pencil" />
            <img src="../images/shirt.png" class="shirt" />
            <img src="../images/dollar.png" class="dollar" />
            <img src="../images/burger.png" class="burger" />
        </div>
        <div class="screen">
            <div class=" col-sm-12 nameContainer">
                <span class="headingLeft">Guestbook</span>
                <span class="headingRight">Ante Matijaca
        <span class="text-muted">(Administrator)
          <img src="../images/triangle.png" class="triangle"/>
          <img src="../images/gear.png" class="gear"/> </span>
                </span>
                <div class="plusBlock">
                    <img src="../images/plus.png" class="plus" />
                </div>
            </div>
            <div class="col-sm-12 sortContainer">
                <span class="subhead">Alphabetically </span>
                <span class="text-muted subdark">Latest added</span>
                <span class="text-muted subdark"> VIP</span>
            </div>

            <div class="details">
            <div class="col-sm-3 customerBig">
              <div class="searchBlock">

                    <span class="searchText">Search</span>
                    <span class="phoneBlock">
                      <span class="phone">Phone</span>
                    <img src="../images/triangle.png" class="searchImage" />
                  </span>
                  <div class=" col-sm-12 customer">
                  </div>
                </div>


            <div class="col-sm-1 alphabet">
              <div class="series">
              </div>
            </div>
</div>
            <div class=" col-sm-6 personInfo">
                <div class="col-sm-12 containerDiv">
                    <div class="col-sm-12 imageBox">
                        <div class="imageText">
                            <span class="personName">Felisa Oshiro</span>
                            <span class="designation">INVESTOR</span>
                            <span class="review">Left 3 reviews</span>
                            <span class="rating"><img src="../images/stars.png"</span>
                        </div>
                        <img src="../images/graphic.png" class="chartImage" />
                        <div class="chartTxt">
                            <span class="cblue"></span>
                            <span class="tblue">3</span>
                            <span class="text-muted reservations">Reservations</span>

                            <span class="cgreen"></span>
                            <span class="tgreen">2</span>
                            <span class="text-muted walkIns">Walk-ins</span>

                            <span class="cgrey"></span>
                            <span class="tgrey">1</span>
                            <span class="text-muted cancellation">Cancellation</span>

                        </div>
                    </div>
                    <div class="col-sm-12 seating">
                        <span class="seatingTxt">Seating Preference</span>
                        <span class="circleseatf">3</span>
                        <span class="circleseats">11</span>
                        <span class="circleseatt">27</span>
                        <span class="circleplus">+</span>
                    </div>
                    <div class="col-sm-12 food">
                        <span class="seatingTxt">Food Preference</span>
                        <span class="circleseatf">Tuna Salad</span>
                        <span class="circleseats">Hamburger</span>
                        <span class="circleseatt">Vegetarian Pizza</span>
                        <span class="circleplus">+</span> </div>
                    <div class="col-sm-12 eventH">
                        <span class="seatingTxt">Event History</span>
                        <div class="seatingOne">
                            <span class="happyC">Happy Hours</span>
                            <span class="visit">Visits</span>
                            <span class="number">10</span>
                            <span class="innerCircle">+</span>
                            <span class="innerCircle">-</span>
                        </div>
                        <span class="outercircleplus">+</span>
                        <div class="seatingTwo">
                            <span class="happyC">Halloween Party</span>
                            <span class="visit">Visits</span>
                            <span class="number">1</span>
                            <span class="innerCircle">+</span>
                            <span class="innerCircle">-</span>
                        </div>

                    </div>
                    <div class="col-sm-12 userTag">
                        <span class="text-muted txt">User Tags</span>
                        <span class="seafood">Seafood</span>
                        <span class="football">Football</span>
                        <span class="baseball">Baseball</span>
                        <span class="beer">Beer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 feed">
                <div class="userInfo">
                    <div class="userName">
                        USER INFO
                    </div>
                    <div class="userDesc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="userMail">
                        <span class="mailWord">Mail:</span>
                        <span class="mailId">felisha.oshiro@gmail.com</span>
                    </div>
                    <div class="userPhone">
                        <span class="mailWord">Phone:</span>
                        <span class="mailId">+1 777 439 3293</span>
                    </div>
                </div>
                <div class="upcomingEvents">
                    <div class="upcomingName">
                        UPCOMING EVENTS
                    </div>
                    <div class="event">
                        <span class="eventCircle"></span>
                        <span class="timeShape">18.50</span>
                        <span class="text-muted date"> Saturday, May13</span>
                        <span class="text-muted txtright">Table3 </span>
                    </div>
                    <div class="event">
                        <span class="eventCircle"></span>
                        <span class="timeShape">21.00</span>
                        <span class="text-muted date"> Tuesday, January17</span>
                        <span class="text-muted txtright">Table6 </span>
                    </div>
                    <div class="event">
                        <span class="eventCircle"></span>
                        <span class="timeShape">18.50</span>
                        <span class="text-muted date"> Tuesday, January17</span>
                        <span class="text-muted txtright">Table6 </span>
                    </div>
                </div>
                <div class="diningHistory">
                    <div class="diningName">
                        DINING HISTORY
                    </div>
                    <div class="diningEvent">
                        <span class="diningeventCircle"></span>
                        <span class="diningtimeShape">18.50</span>
                        <span class="text-muted date"> Friday, February17</span>
                        <span class="text-muted txtright">Table3 </span>

                    </div>
                    <div class="diningEvent">
                        <span class="diningeventCircleg"></span>
                        <span class="diningtimeShapeg">20.00</span>
                        <span class="text-muted date"> Tuesday, January17</span>
                        <span class="text-muted txtright">Table11 </span>
                    </div>
                    <div class="diningEvent">
                        <span class="diningeventCircle"></span>
                        <span class="diningtimeShape">18.50</span>
                        <span class="text-muted date"> Friday, February12</span>
                        <span class="text-muted txtright">Table5 </span>
                    </div>
                    <div class="diningEvent">
                        <span class="diningeventCirclegn"></span>
                        <span class="diningtimeShapegn">18.50</span>
                        <span class="text-muted date">Monday, January13</span>
                        <span class="text-muted txtright">Table8 </span>
                    </div>
                    <div class="diningEvent">
                        <span class="diningeventCirclegn"></span>
                        <span class="diningtimeShapegn">18.50</span>
                        <span class="text-muted date">Sunday, January13</span>
                        <span class="text-muted txtright">Table1 </span>
                    </div>

                </div>
            </div>
          </div>
        </div>
</body>
<script id="entryNames" type="text/x-jquery-tmpl">
      <div class="name">
      <div class="customerName">
      {{html customerName}}
      </div>
      <div class="customerPhone">
      {{html customerPhone}}
      </div>
      </div>
</script>
<script id="entryAlphabet" type="text/x-jquery-tmpl">
<div class="series">
{{html alphabet}}
</div>
</script>

    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/transit.js"></script>
    <script src="../scripts/highcharts.js"></script>
    <script src="../scripts/jquery.tmpl.min.js"></script>
    <script src="../scripts/jslinq.js"></script>
    <script src="../scripts/moment.min.js"></script>
    <script src="../scripts/superjson.js"></script>
    <script src="../scripts/tocca.min.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/array.js"></script>
    <script src="../js/base.js"></script>
   <script src="../js/index.js"></script>
</html>
